<div class="list">
  
  <app-to-do></app-to-do>

  <div class="inputs">
    <input #adicionar matInput placeholder="Adicione um item" type="text" [(ngModel)]="tarefa"
      (keyup.enter)="add(adicionar.value)" (keyup.delete)="remover(adicionar.value)">

    <button btn [ngStyle] ="{height: '30px', width:'10px;' }"
     mat-raised-button color="primary" (click)="add(adicionar.value)">
      <mat-icon [ngStyle]="{fontSize: '23px'}">add</mat-icon>
    </button>
  </div>
  <mat-list>

    <mat-list-item *ngFor="let item of itens">
      <p class="itemAd">{{item}}</p>

      <mat-divider></mat-divider>

      <button btn2 [ngStyle] ="{height: '30px', width:'10px;' }" mat-raised-button color="primary" (click)="remover(item)">
        <mat-icon [ngStyle]="{fontSize: '23px'}">delete_forever</mat-icon>
      </button>

      <mat-divider></mat-divider>

    </mat-list-item>

  </mat-list> <br>
  <div class="footer">

    <p>Você tem {{itens.length}} tarefas pendentes 

    <button btn [ngStyle] ="{height: '30px', width:'10px;' }" mat-raised-button color="primary" (click)="removerTudo(); openSnackBar('Todos os itens foram deletados!!!', 'Sair')">
      <mat-icon [ngStyle]="{fontSize: '23px'}">delete_forever</mat-icon>
    </button>
  </p>
  
  </div>
</div>